@use '@angular/material' as mat;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}

* {
  box-sizing: border-box;
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
